body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

table {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 60%; 
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 248);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px; 
    overflow: hidden; 
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #9e9292;
}

th {
    background-color: #3F4F44; 
    color: white;
}

tr:hover {
    background-color: #e6e4e4;; 
}

button {
    background-color: #37473c; 
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5a0a9a; 
}

h3 {
    margin-bottom: 10px;
}

input {
    width: calc(100% - 22px); 
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

input:focus {
    border-color: #6a0dad; 
    outline: none;
    box-shadow: 0 0 5px rgba(106, 13, 173, 0.5); 
}

button.show-form {
    background-color: #6a0dad;
}

button.show-form:hover {
    background-color: #5a0a9a; 
}


.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    min-height: 100vh;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #2C3930;
}